<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recipe-input" href="/tabs/recipe-input">
      <ion-icon aria-hidden="true" name="pencil-outline"></ion-icon>
      <ion-label>Write recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipe-book" href="/tabs/recipe-book">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>View recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="cog-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
