<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kuchárka
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kuchárka</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-label>Select Category:</ion-label>
    <ion-select [(ngModel)]="selectedCategory" placeholder="Select Category">
      <ion-select-option value="All">All</ion-select-option>
      <ion-select-option value="Main Course">Main Course</ion-select-option>
      <ion-select-option value="Dessert">Dessert</ion-select-option>
      <ion-select-option value="Appetizer">Appetizer</ion-select-option>
      <ion-select-option value="Soup">Soup</ion-select-option>  
    </ion-select>
  </ion-item>

  <ion-list>
    <div *ngFor="let recipe of filteredRecipes(); let i = index" >
      <ion-item (click)="toggleDetails(i)">
        <ion-label>
          <h2>{{ recipe.name }}</h2>
          <p>Category: {{ recipe.category }}</p>
        </ion-label>
        <ion-button slot="end" color="danger" (click)="confirmDelete(i); $event.stopPropagation()">
          Delete
        </ion-button>
      </ion-item>

      <div *ngIf="visibleDetails[i]" class="details-container">
        <ion-list>
          <ion-item *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient }}
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-list>

</ion-content>
