<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kuchárka
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kuchárka</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- 
  <ion-button (click)="startTimer()" color="primary" expand="block">Start Timer</ion-button>

  <ion-item *ngIf="isTimerRunning">
    <ion-label>Time Left:</ion-label>
    <ion-text>{{ timeLeft }} minutes</ion-text>
  </ion-item>

  <ion-button *ngIf="isTimerRunning" (click)="stopTimer()" color="danger" expand="block">Stop Timer</ion-button> -->



</ion-content>
