<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recipes Input
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    
    <ion-item>
      <ion-input [(ngModel)]="newIngredient" placeholder="Enter ingredient"></ion-input>
      <ion-button (click)="addIngredient()" color="primary">Add</ion-button>
    </ion-item>
    
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="removeIngredient()" color="danger" expand="block">
          Remove Last Ingredient
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="onSubmit()" color="primary" expand="block">
          Submit Recipe
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-item *ngFor="let ingredient of ingredients; let i = index">
        {{ ingredient }} 
      </ion-item>
    </ion-list>
    
  </div>       
</ion-content>
