<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Light Mode / Dark Mode </ion-label>
    <ion-toggle
          [(ngModel)]="this.darkmode.darkMode"
          (ionChange)="this.darkmode.darkmodeChange($event)"
        >
    </ion-toggle>
  </ion-item>
</ion-content>
